@{
    ViewBag.Title = "Takasa";
    Layout = "~/Views/User/_LayoutUser.cshtml";
}

<body>
    <form action="/User/ChangePassword" method="post" role="form">
        <div class="user-page-brief">
            <h3> Đổi mật khẩu </h3>
        </div>
        <div>
            <table class="table" style="vertical-align:auto">
                <tr>
                    <th>Mật khẩu cũ</th>
                    <td><input type="password" name="oldPassword" class="form-control" placeholder="Mật khẩu cũ" value=""></td>
                </tr>
                <tr>
                    <th>Mật khẩu mới</th>
                    <td><input type="password" name="password" class="form-control" placeholder="Mật khẩu" value=""></td>
                </tr>
                <tr>
                    <th>Xác minh mật khẩu</th>
                    <td><input name="rePassword" type="password" class="form-control" placeholder="Nhập lại mật khẩu" value="" /></td>
                </tr>
            </table>
            <div class="form-group">
                <input type="submit" class="btn btn-light" style="background-color:#ee4d2d;color:white" value="Cập Nhật" />
            </div>
        </div>

    </form>
</body>


