
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Tiki phiên bản giới hạn";

}

<div class="row">
    <div class="col-3">
        <a href="#">
            <img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-05-2021/VNPAY1_310x210.png" style="width:100%;object-fit:cover">
        </a>
    </div>
    <div class="col-3">
        <a href="#">
            <img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-05-2021/CouponNgon_310x210.jpg" style="width:100%;object-fit:cover">
        </a>
    </div>
    <div class="col-3">
        <a href="#">
            <img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-04-2021/DCVP__310x210.png" style="width:100%;object-fit:cover">
        </a>
    </div>
    <div class="col-3">
        <a href="#">
            <img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-05-2021/310 x 210.jpg" style="width:100%;object-fit:cover">
        </a>
    </div>
</div>

<div>
    <div class="row">

    </div>
   
  
</div>